.title {
	background-color:#f1f1f1;
	padding:10px;
	border-bottom:#ddd 1px solid;
}

.container {
  width: 380px;
  border:#ddd 1px solid;
  margin:0;
}

.center {
  text-align: center;
}

.controls input {
  height: 28px;
}

.logo img {
  float: right;
}

.copy {
  border-top: 1px solid #ccc; 
  padding: 5px 0px;
}

.padded {
  padding: 0px 10px;
}

.row {
  margin:0;
}
.span5 {
  margin:0;
}

.span2 {
  margin:0;
}